html {
  font-family: sans-serif;
	font-size: 20px;
	height: 100%;
}

body {
	height: 100%;
}

.app, .app-container {
	height: 100%;
	overflow: hidden;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.example-enter {
  animation: moveFromRight 0.75s ease both;
}

.example-leave {
	position: absolute!important;//keep elements on page from shifting
	width: 100%;
	top: 0px;
  animation: moveToLeft 0.75s ease both;
}

.search-outer-container {
	height: 100%;
	position: relative;
}
.search-background-hack {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	transition: opacity 0.3s ease-in-out;
}
.search-icon {
	width: 48px;
}
.city-list-wrapper {
	position: relative;
	top: 38%;
	width: 56%;
	margin: auto;
	ul {
		padding-left: 0;
		border: 1px solid #333;
		border-top: 0;
		margin: 0;
		li {
			list-style: none;
			font-size: 24px;
			padding: 3px 36px 3px 8px;
			background-color: rgba(256, 256, 256, 0.7);
		}
		li:hover {
			background-color: #77bbff;
		}
	}
}

@-webkit-keyframes shrinkHeight {
	0% { height: 100% }
	90% { height: 0% }
	100% { height: initial }
}
@keyframes shrinkHeight {
	0% { height: 100% }
	90% { height: 0% }
	100% { height: initial }
}
@-webkit-keyframes expandHeight {
	0% { height: initial }
	10% { height: 0% }
	100% { height: 100% }
}
@keyframes expandHeight {
	0% { height: initial }
	10% { height: 0% }
	100% { height: 100% }
}

.search-outer-container {
	animation: expandHeight 0.5s ease-in-out;
	-webkit-animation: expandHeight 0.5s ease-in-out;
}

.searchbar-wrapper {
	position: relative;
	top: 38%;
}

.searchbar.dummy {
	display: none;
	visibility: hidden;
	position: static;
}
.searchbar {
	margin: auto;
	width: 56%;
	position: relative;
	background-color: rgba(256, 256, 256, 0.7);
	transition: all 0.5s ease-in-out;
	border-bottom: 2px solid #333;
	input {
		/*text-align: center;*/
		width: calc(100% - 48px);
		background-size: 48px;
		background-color: transparent;
		background-repeat: no-repeat;
		font-size: 32px;
		padding: 5px 0 0 8px;
		border: 0;
		vertical-align: bottom;
		/*background-image: url("../assets/search.png");*/
	}
	input:focus {
		outline: none;
	}
	label {
		font-weight: normal;
		font-size: 32px;
		display: none;
		vertical-align: bottom;
		max-width: calc(100% - 48px);
		margin: 5px 0 0 8px;;
	}
	.loading-icon {
		display: none;
		width: 42px;
		margin: 3px;
	}
}

.search-outer-container.sticky {
	animation: shrinkHeight 0.5s ease-in-out;
	-webkit-animation: shrinkHeight 0.5s ease-in-out;
	height: initial;
	position: absolute;
	width: 100%;
	text-align: center;
	.search-icon {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		margin-left: -48px;
	}
	.searchbar.dummy {
		display: block;
		position: static; //stay on top to keep the height
	}
	.searchbar {
		width: 100%;
		border-radius: 0px;
		border-bottom: 0;
		input {
			background-image: none;
			display: none;
		}
		label {
			display: inline-block;
		}
		&:hover {
			.search-icon {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

.search-outer-container.selected {
	.searchbar {
		input {
			display: none;
		}
		label {
			display: inline-block;
		}
		.search-icon {
			display: none;
		}
		.loading-icon {
			display: inline-block;
		}
	}
}

.go-button {
	margin: 10px auto 0;
	width: 160px;
	display: none;
	a {
		font-size: 32px;
	}
	a:hover {
		text-decoration: none;
	}
}

.poi-list .poi-wrapper {
	width: 340px;
	height: 320px;
	float: left;
}
.poi {
	width: 320px;
	margin: 0 auto;
	background-color: #ddd;
	padding-bottom: 10px;
}

.poi-image {
	width: 320px;
	background-color: #000;
	img {
		height: 200px;
		max-width: 100%;
	}
}
.poi-details {
	margin-bottom: 0;
	font-size: calc(6px + 0.6vw);
}
.poi-name {
	font-size: calc(6px + 1.2vw);
}
.poi-type {
	margin-right: 20px;
}
.opening {
	font-weight: bold;
	&.open-now {
		color: green;
	}
	&.closed {
		color: red;
	}
}
