html {
  font-family: sans-serif;
	font-size: 20px;
	height: 100%;
}

body {
	height: 100%;
}

.app, .app-container {
	height: 100%;
	overflow: hidden;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.example-enter {
  animation: moveFromRight 0.75s ease both;
}

.example-leave {
	position: absolute!important;//keep elements on page from shifting
	width: 100%;
	top: 0px;
  animation: moveToLeft 0.75s ease both;
}
