@import "variables";

body {
	background-color: $light-yellow!important;
}

h3 {
	margin-top: 0;
}

.itinerary-outer-container {
	height: 100%;
}

.content {
	padding-top: 20px;
	padding-bottom: 20px;
}
.tabs-left {
	overflow: scroll;
	position: absolute;
	max-height: 640px;
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	.nav-tabs {
		border-bottom: 0;
		padding: 18px 12px;
		background-color: $aqua;
		width: $nav-bar-width;
		>li {
			float: none;
			margin: 0 0 12px 0;
			cursor: pointer;

			>a {
				margin-right: 0;
				border: 0;
				background-color: $aqua;
				padding: 6.5px 20px;
				border-radius: 50%;
				color: #999;
				transition: background-color 0.1s linear;
				box-shadow: $card-box-shadow;
				text-align: center;

				&:hover, &:focus {
					background-color: #ACF6FF;
				}
			}
			&.active a {
				border: 0;
				background-color: #ACF6FF;
				&:hover, &:focus {
					border: 0;
					background-color: #ACF6FF;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}

		.day {
			font-size: 16px;
		}

		.day-number {
			font-size: 26px;
		}

		.active a {
			color: $dark-teal;
		}
	}
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border:0;
}

.mobile-nav {
	position: fixed;
	right: 3em;
	bottom: 3em;
	z-index: 4;

	.day {
		font-size: 16px;
	}
	.day-number {
		font-size: 26px;
	}
}
.mobile-nav-menu-wrapper {
	height: 100%;
	text-align: center;
	overflow: scroll;
}
.mobile-nav-menu {
	padding-left: 0;
	width: 300px;
	margin: 28px auto;
	overflow: hidden;
	padding-bottom: $close-button-height + $close-button-margin * 2;
	li {
		margin: 12px;
		float: left;
		&.active a {
			background-color: $dark-blue;
		}
	}
}
.mobile-nav-menu, .mobile-nav-button {
	li {
		list-style: none;
		padding: $card-shadow-gutter;
		text-align: center;
		position: relative;
		transition: transform 0.2s;
		a {
			display: block;
			padding: 10px 20px;
			border-radius: 50%;
			width: 72px;
			height: 72px;
			color: $aqua;
			line-height: 1.3;
			border: 2px solid rgba(232, 252, 253, 0.5);
			box-shadow: $mobile-day-menu-shadow;
			transition: background-color 0.1s linear;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}

.day-menu-enter {
	animation: moveFromBelow 0.15s ease-in;
}
.day-menu-leave {
	animation: moveDown 0.15s ease-in;
}
.mobile-nav-menu a {
	background-color: $blue;
	&:hover, &:focus {
		background-color: $dark-blue;
		text-decoration: none;
	}
}
.mobile-nav-button {
	z-index: 5;
	a {
		background-color: $dark-blue;
		&:hover, &:focus {
			background-color: $dark-teal;
			text-decoration: none;
		}
	}
}

@-webkit-keyframes moveFromBelow {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBelow {
	from { -webkit-transform: translateY(100%); transform: translateY(100%);}
}
@-webkit-keyframes moveDown {
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveDown {
	to { -webkit-transform: translateY(100%); transform: translateY(100%);}
}

.tab-content {
	float: left;
	margin-left: $nav-bar-width + 40px;
	.tab-pane {
		position: relative;
		display: none;
		overflow: hidden;
		/*box-shadow: $card-box-shadow;*/
		z-index: 1;
	}
	.active { display: block; }
}

.itinerary-poi-wrapper {
	margin-bottom: $card-margin-bottom;
	float: left;
	background-color: white;
	width: 100%;
}
.itinerary-poi {
	font-family: 'Overlock', sans-serif;
	color: #333;
	font-size: 16px;
	overflow: hidden;
	h3 {
		color: white;
		font-size: 21px;
		font-weight: normal;
		margin: 10px 0;
	}
	p {
		font-size: 16px;
		margin-top: 10px;
	}
}

.poi-photo-outer-wrapper {
	padding-left: $timeline-gutter;
	position: relative;
	padding-right: $card-shadow-gutter;
	z-index: 2;
	background-color: $background-color;
}
.poi-photo-wrapper {
	max-height: 300px;
	position: relative;
	padding-top: $card-shadow-gutter;
	.poi-name {
		position:absolute;
		bottom: 20px;
		left: #{$timeline-gutter + $poi-info-left-margin-side};
	}
}
.poi-header {
	background: $blue;
	background:
		-webkit-linear-gradient(left, $blue, rgba(232,252,253, 0.3)), /* For Safari 5.1 to 6.0 */
		-webkit-linear-gradient(bottom, orange, $light-yellow);
	background: /* For Safari 5.1 to 6.0 */
		-o-linear-gradient(right, $blue, rgba(232,252,253, 0.3)), /* For Opera 11.1 to 12.0 */
		-o-linear-gradient(top, orange, $light-yellow); /* For Opera 11.1 to 12.0 */
	background:
		-moz-linear-gradient(right, $blue, rgba(232,252,253, 0.3)),
		-moz-linear-gradient(top, orange, $light-yellow); /* Standard syntax */
	background:
		linear-gradient(to right, $blue, rgba(232,252,253, 0.3)),
		linear-gradient(to top, orange, $light-yellow); /* Standard syntax */
	padding: 10px 20px;
	box-shadow: $card-box-shadow;
	border-radius: $card-border-radius $card-border-radius 0 0;
}
.poi-photo-filter {
	height: 100%;
	width: 100%;
	position: absolute;;
	background-color: rgba(0, 0, 0, 0.5);
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,1), rgba(0,0,0,0.1), transparent, transparent); /*Safari 5.1-6*/
	background: -o-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), transparent, transparent); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,0.1), transparent, transparent); /*Fx 3.6-15*/
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.1), transparent, transparent); /*Standard*/
}
.poi-photo {
	width: 100%;
	border-radius: $card-border-radius $card-border-radius 0 0;
	box-shadow: $card-box-shadow;
	transition: opacity 0.3s;
	&.loading {
		opacity: 0;
	}
	&.loaded {
		opacity: 1;
	}
}
.poi-info {
	float: left;
	border-radius: 0 0 $card-border-radius $card-border-radius;
	box-shadow: $card-box-shadow;
	background-color: white;
	width: 100%;
}
.poi-info-wrapper {
	float: left;
	width: 100%;
	position: relative;
	padding: 0 $card-shadow-gutter $card-shadow-gutter $timeline-gutter;
	background-color: $background-color;
	z-index: 2;
}
.poi-info-left {
	margin: $poi-info-margin-top $poi-info-left-margin-side 15px;
	float: left;
	color: #666;
	font-weight: bold;
	width: $poi-info-left-width;
}
.poi-info-right {
	margin: $poi-info-margin-top 0;
	padding-right: 20px;
	width: calc(100% - #{$poi-info-left-margin-side * 2 + $poi-info-left-width});
	float: left;
	color: #333;
	font-size: 14px;
	line-height: 1.3;
}
.start-time-wrapper {
	display: inline;
}

.poi-bar-wrapper {
	border-bottom: 20px solid $light-yellow;
	width: 700px;
}

.poi-bar {
	width: 680px;
	height: 150px;
	border: 1px solid #aaa;
	font-family: 'Overlock', sans-serif;
	color: white;
	position: relative;
	padding-left: 48px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.9), rgba(0,0,0,0.2), transparent); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(0,0,0,0.9), rgba(0,0,0,0.2), transparent); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(0,0,0,0.9), rgba(0,0,0,0.2), transparent); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.2), transparent); /*Standard*/

	&.no-image {
		background: none;
		.poi-bar-background {
			height: 100%;
			background: $blue;
			background:
				-webkit-linear-gradient(top, rgba(0,0,0, 0.3), rgba(172,246,255, 0.6)), /* For Safari 5.1 to 6.0 */
				-webkit-linear-gradient(left, $blue, rgba(232,252,253, 0.3)), /* For Safari 5.1 to 6.0 */
				-webkit-linear-gradient(bottom, orange, $light-yellow);
			background: /* For Safari 5.1 to 6.0 */
				-o-linear-gradient(right, $blue, rgba(232,252,253, 0.3)), /* For Opera 11.1 to 12.0 */
				-o-linear-gradient(top, orange, $light-yellow); /* For Opera 11.1 to 12.0 */
			background:
				-moz-linear-gradient(right, $blue, rgba(232,252,253, 0.3)),
				-moz-linear-gradient(top, orange, $light-yellow); /* Standard syntax */
			background:
				linear-gradient(to bottom right, rgba(60,142,166, 1), rgba(60,142,166, 0.4), rgba(172,246,255, 0)),
				linear-gradient(to top, $light-yellow, transparent), /* Standard syntax */
				linear-gradient(to top left, rgba(202,4,73, 0.6), rgba(232,252,253, 0.3));
		}
	}
	&.dragging {
		opacity: 1;
		border: none;
		background: $light-yellow;
		.poi-name {
			display: none;
		}
		.cost {
			display: none;
		}
	}
	h3 {
		font-size: 24px;
		margin: 16px 0;
		text-shadow: 0 0 3px #333;
	}
	p {
		font-size: 18px;
		margin-top: 10px;
		text-shadow: 0 0 2px #333;
	}
}

.poi-bar-background {
	width: 680px;
	height: 510px;
	left: 0;
	background-size: cover;
	position: absolute;
	background-position-y: -175px;
	z-index: -1;
}

.poi-preview {
	.poi-bar-wrapper {
		border: 0;
		z-index: 10;
	}

	.itinerary-poi-background {
		z-index: 10;
	}
}

@media (max-width: 768px) {
	.nav-tabs {
		display: none;
	}
	.tab-content {
		width: 100%;
		margin-left: 0;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(253, 219, 96, 0.9);
	z-index: 25;
	.bottom-menu {
		width: 100%;
		z-index: 26;
		background: white;
		position: fixed;
		bottom: 0;
		box-shadow: 0 -2px 6px 4px rgba(0,0,0,0.2);
	}
	.close {
		height: $close-button-height;
		margin: $close-button-margin auto;
		width: $close-button-height;
		border-radius: 50%;
		float: none;
		display: block;
		background-size: contain;
		opacity: 1;
		transition: background-color 0.1s linear;
		img {
			width: 32px;
			margin: 14px 14px;
		}
		&:hover {
			background-color: $light-yellow;
			opacity: 1;
		}
	}
}
