body {
	background-color: #ddd;
}

h3 {
	margin-top: 0;
}

.badge {
	background-color: #777;
}

.itinerary-outer-container {
	height: 100%;
	overflow: scroll;
}
.tabs-left .nav-tabs {
	border-bottom: 0;
	float:left;
	>li {
		float:none;
		margin: 0;

		>a {
			margin-right: 0;
			border: 0;
			background-color: #E8FCFD;
			padding: 5px 20px;
			border-radius: 0px;
			color: #999;
			transition: background-color 0.1s linear;

			&:hover, &:focus {
				background-color: #ACF6FF;
			}
		}
		&:first-child a {
			border-radius: 12px 0 0 0;
		}
		&:last-child a {
			border-radius: 0 0 0 12px;
		}
		&.active a {
			border: 0;
			background-color: #ACF6FF;
			&:hover, &:focus {
				border: 0;
				background-color: #ACF6FF;
			}
		}
	}

	.day {
		font-size: 16px;
	}

	.day-number {
		font-size: 26px;
	}

	.active a {
		color: #197584;
	}
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border:0;
}

.tab-content {
	float: left;
	width: calc(100% - 70px);
	.tab-pane {
		position: relative;
		display: none;
		background-color: transparent;
		overflow: hidden;
	}
	.active { display: block; }
}

.itinerary-poi-wrapper {
	border-bottom: 20px solid white;
	width: 700px;

	&:first-	child {
		border-top: 20px solid white;
	}
}
.itinerary-poi {
	font-family: 'Overlock', sans-serif;
	color: white;
	width: 680px;
	height: 150px;
	padding-left: 48px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.9), rgba(0,0,0,0.2), transparent); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(0,0,0,0.9), rgba(0,0,0,0.2), transparent); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(0,0,0,0.9), rgba(0,0,0,0.2), transparent); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.2), transparent); /*Standard*/
	h3 {
		font-size: 21px;
		margin: 10px 0;
	}
	p {
		font-size: 16px;
		margin-top: 10px;
	}
}

.itinerary-poi-background {
	width: 680px;
	height: 510px;
	left: 0;
	background-size: cover;
	position: absolute;
	background-position-y: -175px;
	z-index: -1;
}

.start-time-wrapper {
	display: inline;
}

.start-time {
	font-size: 16px;
}

.itinerary-poi-time-button {
	height: 24px;
	width: 24px;
	margin-left: -36px;
	margin-right: 12px;
	margin-bottom: -6px;
	position: relative;
	border: 6px solid #FEC53C;
	background-color: #4FB9D9;
	border-radius: 50%;
	display: inline-block;
}

.timeline-wrapper {
	height: 100%;
	float: left;
	padding: 50px 0 110px 20px;
	position: absolute;
}
.timeline {
	width: 8px;
	margin: 0 auto;
	background-color: #4FB9D9;
}
