.poi-list .poi-wrapper {
	width: 340px;
	height: 320px;
	float: left;
}
.poi {
	width: 320px;
	margin: 0 auto;
	background-color: #ddd;
	padding-bottom: 10px;
}

.poi-image {
	width: 320px;
	background-color: #000;
	text-align: center;
	img {
		height: 200px;
		max-width: 100%;
	}
}
.poi-details {
	margin-bottom: 0;
	font-size: calc(6px + 0.6vw);
}
.poi-name {
	font-size: calc(6px + 1.2vw);
}
.poi-type {
	margin-right: 20px;
}
.opening {
	font-weight: bold;
	&.open-now {
		color: green;
	}
	&.closed {
		color: red;
	}
}
