$card-margin-bottom: 20px;
$time-button-radius: 7px;
$timeline-gutter: 24px;
$card-shadow-gutter: 2px;
$poi-info-margin-top: 24px;
$poi-info-left-width: 84px;
$poi-info-left-margin-side: 20px;
$card-border-radius: 2px;
$card-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$mobile-day-menu-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
$nav-bar-width: 98px;
$close-button-height: 60px;
$close-button-margin: 12px;
$search-icon-width: 36px;
 /*color pallete*/
$blue: #4FB9D9;
$dark-blue: #3C8EA6;
$teal: #019FAB;
$dark-teal: #197584;
$aqua: #E8FCFD;
$turquoise: #ACF6FF;
$background-color: #FAFAFA;
$light-yellow: #FDDB60;
$yellow: #FEC53C;
$orange: #FC9806;
$deep-orange: #FE5207;
$red: #ca0449;
$light-red: #e40452;
$grey: #8a8a8a;

$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
